/*Selector tipo etiqueta*/
body{
    background-color:antiquewhite;
    font-size: 19px;
    color: black;
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: scroll;
}
/*tipo etiqueta*/
h1{
    color: rgb(60, 60, 60);
    position: sticky;
    top: 0px;
    
    
    
}


h2{
    color: rgb(33, 31, 31);
    margin-top: 0;
    text-align: center;

}
h3{
    margin-top: 0;
    margin-bottom: 0;
    
    color: darkblue;
}

/*Selector tipo ID*/

.Index{
    margin-top: 0;
  
  }

/*Selector de tipo Clase*/
.estilo-section{
    background-color: rgb(255, 255, 255);
    color: black; /* Texto legible sobre fondo beige */
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
    
    
    
}

#Certificaciones{
    color: rgb(2, 19, 255);
    
}

.estilo-seccion ul li{
    list-style: none;
}

nav ol li a {
    color: white;
    text-decoration: none;
    
}

nav ol li a:hover {
    text-decoration: underline;
}




/*Selector  Avanzado
.estilo-seccion ul li{
    list-style: none;
    
}
*/
img{
width: 43rem;
height: ;

}

footer{
    text-align: center;
}
.fotter1{
    display: flex;/*Indicamos que se haga Flexible con display: flex*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.divs{
    margin: 10px;
    align-self: center;

}
.Habilidades{
    
   /* flex-direction: row;
    flex-wrap: nowrap;*/

    justify-content: space-evenly;
    align-items: center;
}
#Habilidades{
    display: grid;
    justify-content: space-evenly;
}
#Idioma{
    height: 24rem;
    display: grid;
    justify-content: space-evenly;
}
#Columnas{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
}
.desc{
   
    display: flex;/*Indicamos que se haga Flexible con display: flex*/
    flex-direction: row;
    flex-wrap: reverse;
    
    justify-content: space-around;
    align-items: center;
}
.myself{
    margin: 10px;
    align-self: center; 
    font-size: 20px;
}

/*
.skills{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mijo{
    margin: 10px;
    align-self: center;
}
*/
/* Eliminar viñetas y centrar las listas */

ol, ul {

    list-style: none; /* Eliminar viñetas */
    padding: 0; /* Eliminar relleno por defecto */
    margin: 0; /* Eliminar margen por defecto */
    
}
nav ol {
    padding-left: 20px; /* Ajuste de relleno para el índice de navegación */
}